/* You can add global styles to this file, and also import other style files */
@import "color-variables";
@import "layout-variables";

* {
  box-sizing: border-box
}

html, body {
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  background-color: $primary-bg-color;
}


